<div class="projects-page-main">
    <app-dashboard-info-panel [title]="projectName" [workspaceOwnerName]="ownerName">
        >
        <button back class="back-btn" (click)="goBack()">
            <span class="material-icons">chevron_left</span>
        </button>
        <div content-left>
            <app-floating-field label="Search Boards" type="input" icon="search" placeholder="Search..."
                [(model)]="searchQuery">
            </app-floating-field>
        </div>
        <div content-right>
            <app-link-button title-actions title="Create Board" icon="dashboard_customize"
                buttonClass="create-new-project-button" (action)="onClickOpenAddBoard()"></app-link-button>
            <app-link-button title="Add Member" buttonClass="create-new-project-button" icon="person_add_alt_1"
                (action)="onClickOpenAddMember()">
            </app-link-button>
            <app-link-button title="Manage Members" buttonClass="create-new-project-button" icon="manage_accounts"
                (action)="openManageBoardRoles()">
            </app-link-button>
        </div>
    </app-dashboard-info-panel>
    @if( showAddMemberModel() ){
    <app-model-view class="management-model" (closeModel)="onClickOpenAddMember()">
        <app-reactive-form [loading]="createBoardLoading()" title=" Add New Member"
            p="    Add a new member to the selected board." buttonName="Add member"
            (submittedData)="onSubmiteNewMember($event)" [formData]="addMemberformData()"
            formClass=" management-form-class" titleIcon="add" (change)="onChangeSelect($event)">
            <p class="project-level-info">
                This is a board-level role. The user can only access the boards they are assigned to, not the entire
                project.
            </p>
            @if (selectedRole()) {
            <div class="role-info">
                <p class="role-detail">
                    <strong class="role-name">
                        {{ selectedRole().replace('_', ' ') | titlecase }}
                    </strong>
                    — {{ selectedRoleDescription() }}
                </p>
            </div>
            }
        </app-reactive-form>
    </app-model-view>
    }
    @if( showModel() ){
    <app-model-view class="management-model" (closeModel)="onClickOpenAddBoard()">
        <app-reactive-form title="Create New Board" p="Add a new board to start organizing your work"
            buttonName="Create Project" [formData]="formData()" formClass="management-form-class" titleIcon="add"
            (submittedData)="onSubmiteNewBoard($event)" [loading]="createBoardLoading()">
        </app-reactive-form>
    </app-model-view>
    }
    <app-confirm-delete [show]="showDeleteModal()" title="Delete Board"
        message="Are you sure you want to delete this board?" (close)="handleDelete($event)">
    </app-confirm-delete>
    @if (showEditBoardState()) {
    <app-model-view class="management-model" (closeModel)="onClickCloseEditBoard()">
        <app-reactive-form title="Edit Board" p="Update your board details" buttonName="Save Changes"
            [formData]="editBoards()" formClass="management-form-class" titleIcon="edit"
            (submittedData)="onSubmitEditBoard($event)">
        </app-reactive-form>

    </app-model-view>
    }
    @if (showEditBoardMembershipState()) {
    <app-model-view class="management-model" (closeModel)="openManageBoardRoles()">
        <app-manage-roles [manageRolesData]="boardsData()" [roles]="boardRoles()"
            (deleteMember)="deleteMemberShip($event)" (saveRole)="onNewRole($event)"
            headerTitle="Board Members Management"
            headerDescription="Control who can access and manage these boards. Update roles or remove members below."
            searchPlaceholder="Search by email/board name" context="board" [loading]="createBoardLoading()">
        </app-manage-roles>
    </app-model-view>
    }
    @if (loadingBoards()) {
    <div class="skeleton-grid">
        <app-loading-skeleton *ngFor="let i of [1,2,3,4]"></app-loading-skeleton>
    </div>
    } @else if (boardsData().length !== 0) {
    <app-project-card [projectsData]="filteredBoards()" (deleteProject)="openDeleteBoard($event)"
        (goToProject)="goToBoard($event)" (editProject)="openEditBoard($event)"
        [tooltipLabels]="['Boards', 'Project/Board Members', 'Your Role', 'Created']">
    </app-project-card>
    }@else {
    <div class="no-project-data">
        <div class="empty-message">
            <h2>No Boards Found</h2>
            <p>Create your first board to get started!</p>
        </div>
        <app-reactive-form title="Create New Board" p="Add a new board to start organizing your work"
            buttonName="Create Project" [formData]="formData()" formClass="management-form-class" titleIcon="add"
            (submittedData)="onSubmiteNewBoard($event)" [loading]="createBoardLoading()">
        </app-reactive-form>
    </div>
    }
</div>