.projects-page-main {
  width: 100%;
  position: relative;
}
.management-model {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
