<div class="projects-container project-modal">
    <app-dashboard-info-panel title="Projects">
        <div class="panel-container-button" title-actions>

        </div>
        <div content-left>
            <div content-left>
                <app-floating-field label="Search Projects" type="input" icon="search" placeholder="Search Projects..."
                    [(model)]="searchQuery" (modelChange)="filterProjects()">
                </app-floating-field>
                <app-floating-field label="Projects" type="select" [options]="['all', 'me', 'others']"
                    [(model)]="ownerFilterValue" (modelChange)="filterProjects()">
                </app-floating-field>
            </div>
        </div>
        <div content-right>
            <app-link-button title-actions buttonClass="create-new-project-button" title="New Project" icon="note_add"
                (action)="toggleNewProjectModal()">
            </app-link-button>
            <app-link-button buttonClass="create-new-project-button" title="Add Owners" icon="person_add_alt_1"
                (action)="toggleAddCollaboratorModal()">
            </app-link-button>
            <app-link-button buttonClass="create-new-project-button" title="Manage Owners" icon="manage_accounts"
                (action)="onOpenManageOwners()">
            </app-link-button>
        </div>
    </app-dashboard-info-panel>
    @if (showModel()) {
    <app-model-view class="management-model" (closeModel)="toggleNewProjectModal()">
        <app-reactive-form title="Create New Project" p="Add a new project to start organizing your work"
            buttonName="Create Project" [loading]="createProjectLoading()" [formData]="formData()"
            (submittedData)="createProject($event)" formClass="management-form-class" titleIcon="add">
        </app-reactive-form>
    </app-model-view>
    }
    @if (showCollaboratorModel()) {
    <app-model-view class="management-model" (closeModel)="toggleAddCollaboratorModal()">
        <app-reactive-form title="Add Project Owners" p="Assign a project owner role for the selected project."
            buttonName="Add Owner" [loading]="addProjectMembershipLoading()" [formData]="addProjectCollaborator()"
            (submittedData)="addCollaborator($event)" formClass="management-form-class" titleIcon="add"
            (change)="onChangeSelect($event)">
            <p class="project-level-info">
                This is a project-level role. The user's permissions apply across the entire project and all boards
                within it.
            </p>
            @if (selectedRole()) {
            <div class="role-info">
                <p class="role-detail">
                    <strong class="role-name">
                        {{ selectedRole().replace('_', ' ') | titlecase }}
                    </strong>
                    — {{ selectedRoleDescription() }}
                </p>
            </div>
            }
        </app-reactive-form>
    </app-model-view>
    }
    <div class="confirm-delete">
        <app-confirm-delete [show]="showDeleteModal()" [title]="isProjectDelete() ? 'Delete Project' : 'Delete User'"
            [message]="isProjectDelete() ? 'Are you sure you want to delete this project?' : 'Are you sure you want to delete this user?'"
            (close)="handleDelete($event)">
        </app-confirm-delete>
    </div>
    @if (showEditModel()) {
    <app-model-view class="management-model" (closeModel)="closeEditModal()">
        <app-reactive-form title="Update Project" p="Update your project fields"
            [buttonName]="updateProjectLoading() ? 'Loading...' : 'Save changes'" [formData]="formData()"
            (submittedData)="updateProject($event)" [loading]="createProjectLoading()" formClass="management-form-class"
            titleIcon="edit">
        </app-reactive-form>
    </app-model-view>
    }
    @if (loadingProjects()) {
    <div class="skeleton-grid">
        <app-loading-skeleton *ngFor="let i of [1,2,3,4]"></app-loading-skeleton>
    </div>
    }
    @else if (projectsData().length !== 0) {
    <app-project-card [projectsData]="projectsData()" (goToProject)="navigateToProject($event)"
        (editProject)="populateEditForm($event)"
        (deleteProject)="openDeleteProject($event.id, $event.owner, $event.role_name)"
        [tooltipLabels]="['Boards', 'Project Owners', 'Your Role', 'Created']">
    </app-project-card>
    }
    @else {
    <div class="no-project-data">
        <div class="empty-message">
            <h2>No Projects Found</h2>
            @if (ownerFilterValue !== 'others') {
            <p>Create your first project to get started!</p>
            }
        </div>

        @if (ownerFilterValue !== 'others') {
        <app-reactive-form title="Create New Project" buttonName="Create Project" [formData]="formData()"
            (submittedData)="createProject($event)" formClass="management-form-class" titleIcon="add">
        </app-reactive-form>
        }
    </div>
    }

</div>
@if (showManageOwners()) {
<app-model-view class="management-model" (closeModel)="onOpenManageOwners()">
    <app-manage-roles [manageRolesData]="projectsData()" [roles]="rolesList()" (deleteMember)="deleteMemberShip($event)"
        (saveRole)="onNewRole($event)" headerTitle="Project Owners Management"
        headerDescription="Managing project owners. Updating or revoking a role will remove their access to the project and all boards within it."
        searchPlaceholder="Search by Name..." context="project" label="Search project"
        [loading]="updateProjectMembershipLoading()">
    </app-manage-roles>
</app-model-view>
}