.home-page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: radial-gradient(
      circle at -20% 80%,
      rgba(0, 0, 0, 0.952) 0%,
      rgba(0, 0, 0, 0.979) 40%,
      rgb(0, 0, 0) 70%
    ),
    radial-gradient(circle at 85% 20%, rgba(255, 0, 128, 0.089) 0%, rgba(0, 0, 0, 0) 60%),
    radial-gradient(circle at 50% 115%, rgba(80, 0, 120, 0.18) 0%, rgba(0, 0, 0, 0) 70%),
    linear-gradient(135deg, #07080e 0%, #090a16 40%, #0b0e19 100%);

  background-blend-mode: screen;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
  z-index: 0;
}

.home-section-one {
  max-width: 1300px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding: 0rem 2rem;
  flex-wrap: wrap;
}
.home-page-buttons {
  display: flex;
  gap: 0.5rem;
  max-width: 500px;
  align-items: center;
}
h1 {
  font-size: 4rem;
  max-width: 500px;
  color: white;
}

.home-section1-right p {
  font-size: 1.3rem;
  max-width: 500px;
  color: #a1a1aa;
}
.home-section-two {
  max-width: 700px;
}
strong {
  color: #843ce3cb;
}

.stats-component {
  display: flex;
  align-items: center;
  gap: 3rem;
  margin-top: 2.5rem;
  flex-wrap: wrap;
  color: white;
}

.divider {
  width: 1px;
  height: 3rem;
  background-color: #e5e5e5;
}

.home-section-page-getstarted {
  padding: 3rem;
  margin-bottom: 1rem;
}
.home-section-trusted-by {
  width: 100%;
  z-index: 1;
}
.trusted-by-shadow {
  padding: 1rem;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  max-width: 1330px;
  margin: 0 auto;
}
.trusted-by-shadow {
  background-color: rgba(7, 7, 7, 0.158);
  border-radius: 0.4rem;
  max-width: 1200px;
}
.home-section-trusted-by p {
  color: #dbdbdbf1;
  font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.trusted-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  opacity: 0.7;
}

.trusted-list label {
  font-size: 1.2rem;
  font-weight: 600;
  color: #ffffffde;
  cursor: default;
  user-select: none;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.trusted-list label:hover {
  transform: scale(1.05);
  opacity: 1;
}
.home-section-how-it-works {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
}
.home-section-how-it-works h1 {
  font-size: 1.3rem;
  color: #ffffffdc;
  padding-top: 1.5rem;
}
.home-section-built-for-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 1rem;
  padding-top: 2rem;
}

.home-section-built-for-container h1 {
  font-size: 1.3rem;
  color: #ffffffdc;
  text-align: center;
  padding-top: 1rem;
}

@media (max-width: 743px) {
  h1 {
    font-size: 2.5rem;
    max-width: 500px;
    color: white;
  }
  .home-section1-right p {
    font-size: 1.1rem;
  }
}
