<div class="card-container">

    <!-- HEADER -->
    <div class="header">
        <!-- CLOSE BUTTON -->
        <button class="close-btn" (click)="close.emit()">
            <span class="material-icons">close</span>
        </button>

        <div class="title-row">
            <div class="card-initial">
                {{ SelectedCard?.title?.charAt(0) }}
            </div>

            <h1>{{ SelectedCard?.title }}</h1>

            <div class="priority-pill" [ngClass]="getPriorityClass(SelectedCard?.priority)">
                {{ SelectedCard?.priority }}
            </div>

            <button class="title-edit-btn" (click)="startEditHeader()">
                <span class="material-icons">edit</span>
            </button>
        </div>
        <div class="title-row edit" *ngIf="isEditingHeader">
            <input class="title-input" [(ngModel)]="tempTitle" />

            <select class="priority-select" [(ngModel)]="tempPriority">
                <option value="low">Low</option>
                <option value="medium">Medium</option>
                <option value="high">High</option>
            </select>
            <div>
                <button class="save-btn" (click)="saveHeader()">
                    <span class="material-icons">check</span>
                </button>

                <button class="cancel-btn" (click)="cancelHeader()">
                    <span class="material-icons">close</span>
                </button>
            </div>

        </div>

        <div class="due-row">
            <span class="material-icons">calendar_today</span>

            <p>
                Created: {{ SelectedCard?.created_at | date:'MMMM d, y' }}
                &nbsp;•&nbsp;

                Due date: {{ dueDate() ? (dueDate() | date:'MMMM d, y') : 'Not set' }}

            </p>

            <button class="edit-due-icon-btn" (click)="startEditDueDate()">
                <span class="material-icons">edit</span>
            </button>
        </div>

        @if(isEditingDueDate) {
        <div class="due-edit-box">
            <input type="datetime-local" [(ngModel)]="tempDueDate" class="due-date-picker" />

            <button class="save-btn" (click)="saveDueDate()">
                <span class="material-icons">check</span>
            </button>
            <button class="cancel-btn" (click)="cancelEditDueDate()">
                <span class="material-icons">close</span>
            </button>
        </div>
        }
    </div>

    <hr />

    <section class="section">
        <div class="section-title">
            Members
            <span class="count">{{ SelectedCard?.members?.length || 0 }} assigned</span>
        </div>

        <div class="members-row">

            @for (m of SelectedCard?.members; track $index ) {
            <div class="avatar">{{ getShortName(m.full_name) }}</div>
            }

            <div class="avatar add" (click)="openAssignMember()">
                <span class="material-icons">add</span>
            </div>

        </div>

        <!-- ASSIGN PANEL -->
        @if (showAssignSection()) {
        <div class="assign-box">
            <h3>Assign Members</h3>

            @if (unassignedMembers.length) {
            <div class="assign-list">
                @for (m of unassignedMembers; track $index) {
                <label>
                    <input type="checkbox" (change)="toggleAssign(m, $event.target.checked)" />
                    {{ getShortName(m.full_name) }}
                </label>
                }
            </div>

            <button class="assign-btn" (click)="assignSelected()">Assign</button>
            <button class="assign-btn" (click)="openAssignMember()">Cancel</button>

            }

            @else {
            <p class="empty-text">All members already assigned</p>
            }

            <hr />

            <h3>Already Assigned</h3>
            @for (m of SelectedCard?.members; track $index) {
            <div class="assigned-item">
                <span>{{ getShortName(m.full_name) }}</span>
                <button class="remove-btn" (click)="removeAssigned(m)">
                    <span class="material-icons">delete</span>
                </button>
            </div>
            }
        </div>
        }

    </section>
    <hr />
    <section class="section">

        <div class="section-title">
            <span class="material-icons">description</span>
            Description
        </div>

        @if (!isEditingDescription()) {

        @if (hasDescription()) {
        <div class="description-box" [innerHTML]="cardDescription()"></div>

        <button class="edit-small-btn" (click)="openEditDescription()">
            <span class="material-icons">edit</span>
            Edit Description
        </button>
        }

        @else {
        <div class="description-box empty">No description</div>

        <button class="edit-small-btn" (click)="openEditDescription()">
            <span class="material-icons">add</span> Add Description
        </button>
        }

        }

        @else {
        <app-ngx-html-editor [initialContent]="cardDescription()" (save)="saveDescription($event)"
            (cancel)="cancelDescriptionEdit()"></app-ngx-html-editor>

        <button class="edit-small-btn" (click)="cancelDescriptionEdit()">
            <span class="material-icons">close</span>
            Cancel
        </button>
        }


    </section>

    <hr />





    <!-- COMMENTS SECTION (UI Only for now) -->
    <section class="section comments-section">
        <div class="section-title">
            <span class="material-icons">chat_bubble</span>
            Comments (0)
        </div>

        <div class="comment-input">
            <div class="avatar small">{{ getShortName(SelectedCard?.title) }}</div>

            <input placeholder="Write a comment..." />
            <button class="send-btn">
                <span class="material-icons">send</span>
            </button>
        </div>
    </section>
</div>