/* Dashboard layout host fills the screen */
:host {
  display: block;
  height: 100vh;
  overflow: hidden;
}

.dash-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
  background-color: black;
}

.dash-nav {
  height: 100%;
  overflow: hidden;
  flex: 0 0 auto;
}

.dash-content {
  flex: 1;
  height: 100%;
  width: 80%;
  
}
