.header-page-container {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
p {
  max-width: 900px;
  text-align: center;
  font-size: 1.5rem;
  color: #a1a1aa;
  padding: 0rem 1rem;
}
h1 {
  max-width: 600px;
  text-align: center;
  font-size: 3.3rem;
  color: white;
  padding: 0rem 1rem;
}
label {
  background: linear-gradient(
    135deg,
    hsl(262 83% 58%) 0%,
    hsl(300 76% 60%) 50%,
    hsl(340 82% 62%) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
.features-page-why-teams-love h1 {
  font-size: 2.2rem;
}
.features-page-why-teams-love p {
  font-size: 1.3rem;
  position: relative;
  bottom: 1.8rem;
}

.about-header p {
  font-size: 1.3rem;
  position: relative;
  bottom: 1.8rem;
  max-width: 650px;
}
.about-header h1 {
  font-size: 2.2rem;
}
.about-header-story h1 {
  font-size: 2.2rem;
}
.about-header-story p {
  font-size: 1.3rem;
  position: relative;
  bottom: 1.8rem;
  max-width: 1000px;
}
.about-page-cards h1 {
  font-size: 2.2rem;
}
.about-page-cards p {
  font-size: 1.3rem;
  position: relative;
  bottom: 1.8rem;
  max-width: 650px;
}
@media (max-width: 743px) {
  p {
    max-width: 900px;
    text-align: center;
    font-size: 1.2rem;
    color: #a1a1aa;
    padding: 0rem 1.5rem;
  }
  h1 {
    max-width: 600px;
    text-align: center;
    font-size: 2.5rem;
    color: white;
    padding: 0rem 1.5rem;
  }
}
