.stats-component {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
}

.stat-item {
  text-align: center;
}

.stat-value {
  font-size: 2rem;
  font-weight: 700;
  color: #ffffffd3;
}

.stat-label {
  font-size: 1rem;
  color: #b1b1b1;
}

.divider {
  width: 1px;
  height: 40px;
  background-color: #e0e0e0;
}

.about-stats .stat-value {
  color: rgba(255, 255, 255, 0.863);
}

.about-stats.stats-component {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 4rem;
  padding: 1rem 2rem;
  border-radius: 0.4rem;
  margin: 1rem auto;
  max-width: 900px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 40px 40px -7px;
}
@media (max-width: 743px) {
  .stat-value {
    font-size: 1.7rem;
    font-weight: 700;
    color: #ffffffd3;
  }
  .about-stats.stats-component {
    gap: 2rem;
  }
}
@media (max-width: 543px) {
  .about-stats.stats-component {
    gap: 1rem;
  }
}
