/**************************************
 * BOARD CONTAINER
 **************************************/
.board-container {
  position: relative;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.management-model {
  position: fixed;
  left: 22rem;
  right: 3rem;
  top: 0;
  bottom: 0;
  background-color: rgba(8, 8, 8, 0.603);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  z-index: 1000;
}
/**************************************
 * BOARD HEADER (NAME + MEMBERS)
 **************************************/
.board-name {
  display: flex;
  align-items: center;
  gap: 12px;
}

.board-text {
  display: flex;
  align-items: center;
  gap: 6px;
}

.board-text .label {
  font-size: 16px;
  color: #7a7a7a;
  font-weight: 500;
}

.board-text .name {
  font-size: 18px;
  font-weight: 600;
}

.board-members {
  display: flex;
  align-items: center;
  gap: 10px;
}

.members-label {
  color: rgb(219, 219, 219);
  font-weight: bold;
}

.members-list.overlap {
  display: flex;
  align-items: center;
}

.members-list.overlap .member-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  background: linear-gradient(135deg, #3a1f5d, #5b2e8b);
  border: 1px solid #0d0d12;
  margin-left: -10px;
  transition: transform 0.15s ease, box-shadow 0.15s ease;
}

.members-list.overlap .member-circle:hover {
  transform: scale(1.15);
  z-index: 10;
  box-shadow: 0 0 5px rgba(150, 100, 255, 0.6);
}

.members-list.overlap .member-circle:first-child {
  margin-left: 0;
}

.project-level-info {
  font-size: 14px;
  color: #cbd5e1;
  padding: 10px 14px;
  border-radius: 8px;
  margin-top: 10px;
  line-height: 1.5;
  box-shadow: rgba(124, 124, 124, 0.27) 0 0 0.25em, rgba(150, 150, 150, 0.05) 0 0.25em 1em;
}

.role-info {
  padding: 1px 10px;
  border-radius: 10px;
  margin: 14px 0 1rem 0;
  box-shadow: rgba(124, 124, 124, 0.27) 0 0 0.25em, rgba(150, 150, 150, 0.05) 0 0.25em 1em;
}

.role-detail {
  font-size: 14px;
  color: #e2e8f0;
  line-height: 1.5;
}

.role-name {
  color: #f8f7f8;
  font-weight: 600;
}
.skeleton-grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 25px;
  margin-top: 20px;
  padding: 1rem;
}

@media (max-width: 600px) {
  .board-members {
    font-size: 0.9rem;
  }
  .member-circle {
    width: 30px !important;
    height: 30px !important;
  }
  .board-container .board-info-panel {
    order: 999;
    margin-top: auto;
    position: absolute;
    bottom: 0;
    width: 100%;
  }
  .members-label {
    display: none;
    margin-left: 1rem;
  }
}

.board-container .app-board-lists {
  flex: 1 1 auto;
}
