/* GLOBAL STYLES FOR THE CARD*/
.card-container {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

h3 {
  font-weight: 550;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.904);
}

p {
  color: rgba(255, 255, 255, 0.781);
  font-size: 0.9rem;
}

.card {
  border-radius: 1rem;
  padding: 1.5rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease, box-shadow 0.2s ease, background-color 0.3s ease;
  max-width: 250px;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.12);
}

.icon-wrapper {
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.9rem;
}

.icon {
  padding: 0.6rem;
}

.card:hover .icon {
  transform: scale(1.1);
  color: #000;
}

/* HOME PAGE STYLES */

/* Get Started Section */
.card-container.home-page-getstarted {
  border-radius: 0.4rem;
  text-align: center;
  background: linear-gradient(135deg, #9a5cf754 0%, #d94ff860 50%, #f16a8a65 100%);
  max-width: 1250px;
  display: flex;
  justify-content: center;
  margin: 2rem auto;
}

.home-page-getstarted .card {
  max-width: 100%;
  border-radius: 0.4rem;
  box-shadow: unset;
}

.home-page-getstarted h3 {
  font-size: 2rem;
  color: white;
}

.home-page-getstarted p {
  font-size: 1.2rem;
  color: white;
  top: -0.5rem;
}

/* Description Cards */
.home-page-discription-card {
  display: flex;
  gap: 2rem 3rem;
  justify-content: center;
  align-items: start;
  padding: 1rem;
}

.home-page-discription-card .card:nth-child(1) {
  margin-top: 4rem;
}

.home-page-discription-card .card:nth-child(2) {
  margin-top: 2rem;
}

.home-page-discription-card .card:nth-child(3) {
  margin-top: 2rem;
}

.home-page-discription-card .card:nth-child(4) {
  margin-top: 0rem;
}

.home-page-discription-card .card {
  background-color: #1a1622;
  border-radius: 1rem;
  padding: 1.5rem;
  width: 280px;
  box-shadow: 0 0 14px rgba(154, 92, 247, 0.08), 0 0 28px rgba(217, 79, 248, 0.06),
    0 0 42px rgba(241, 106, 138, 0.05);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  border: rgba(41, 40, 70, 0.925) 1px solid;
}

.home-page-discription-card .card:hover {
  transform: translateY(-6px);
  box-shadow: 0 0 25px rgba(154, 92, 247, 0.4), 0 0 50px rgba(217, 79, 248, 0.35),
    0 0 70px rgba(241, 106, 138, 0.3);
}

/* How It Works Section */
.home-how-it-works-card .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: unset;
  max-width: 200px;
  background-color: white;
  height: 200px;
  background-color: #1a162280;
  border: rgba(41, 40, 70, 0.925) 1px solid;
}

.home-how-it-works-card .card:nth-child(2) {
  position: relative;
  bottom: -2.5rem;
}

.home-how-it-works-card .card:nth-child(4) {
  position: relative;
  bottom: -2.5rem;
}

/* Built For Section */
.card-container.home-page-built-for {
  border-radius: 0.4rem;
  text-align: center;
  max-width: 1300px;
  margin: 0rem auto;
}

.home-page-built-for .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 200px;
  background-color: #1a162280;
  border: rgba(41, 40, 70, 0.925) 1px solid;
  height: 200px;
  border-radius: unset;
}

.home-page-built-for .card:nth-child(2) {
  position: relative;
  bottom: -2.5rem;
}

.home-page-built-for .card:nth-child(4) {
  position: relative;
  bottom: -2.5rem;
}

/*  FEATURES PAGE STYLES   */
.features-page-cards {
  max-width: 1300px;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.features-page-cards .card {
  padding: 1.2rem;
  background-color: #1a162280;
  box-shadow: 0 0 10px rgba(154, 92, 247, 0.11), 0 0 40px rgba(217, 79, 248, 0.103),
    0 0 60px rgba(241, 106, 138, 0.089);
}

.features-page-loveTavoloFeatures .card {
  border: unset;
  background-color: unset;
  box-shadow: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.features-page-loveTavoloFeatures p {
  position: relative;
  top: -1rem;
}

.about-page-ourValues .card {
  background-color: rgba(26, 22, 34, 0.623);
  backdrop-filter: blur(4px);
  border: rgba(41, 40, 70, 0.527) 1px solid;
}

.about-page-outTeam .card {
  background-color: #1a162280;
  border: rgba(41, 40, 70, 0.925) 1px solid;
  max-width: 180px;
  border-radius: unset;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem;
}

@media (max-width: 743px) {
  .home-page-discription-card {
    padding: 0rem;
    max-width: 100%;
    gap: 1rem;
  }
}
@media (max-width: 675px) {
  .features-page-loveTavoloFeatures .card {
    padding: 0.1rem;
  }
  .home-page-discription-card .card:nth-child(1) {
    margin-top: unset;
  }

  .home-page-discription-card .card:nth-child(2) {
    margin-top: unset;
  }

  .home-page-discription-card .card:nth-child(3) {
    margin-top: unset;
  }

  .home-page-discription-card .card:nth-child(4) {
    margin-top: unset;
  }
}
@media (max-width: 551px) {
  .home-how-it-works-card .card {
    max-width: 300px;
    height: unset;
  }
  .home-page-built-for .card {
    max-width: 300px;
    height: unset;
  }
  .home-how-it-works-card .card:nth-child(2) {
    position: unset;
    bottom: unset;
  }

  .home-how-it-works-card .card:nth-child(4) {
    position: unset;
    bottom: unset;
  }
  .home-page-built-for .card:nth-child(2) {
    position: unset;
    bottom: unset;
  }

  .home-page-built-for .card:nth-child(4) {
    position: unset;
    bottom: unset;
  }
}
@media (max-width: 476px) {
  .about-page-outTeam .card {
    max-width: 85%;
    height: unset;
  }
}
