<div class="panel-container">

    <div class="panel-header">

        <div class="left">
            <ng-content select="[back]"></ng-content>

            <div class="title-wrapper">
                <h2>{{ title() }}</h2>
                <p class="date">{{ today | date:'EEE, dd MMM yyyy' }}</p>
            </div>
        </div>

        <div class="right">
            <ng-content select="[title-actions]"></ng-content>
        </div>
    </div>

    <div class="panel-subbar">
        <div class="sub-left">
            <ng-content select="[content-left]"></ng-content>
        </div>

        <div class="sub-right">
            <ng-content select="[content-right]"></ng-content>
        </div>
    </div>

</div>