.panel-container {
  background: #101018;
  border-bottom: 1px solid #252537;
  position: sticky;
  top: 0;
  z-index: 200;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.panel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.7rem 0rem 0rem 0.7rem;
  flex-wrap: wrap;
}

.left {
  display: flex;
  align-items: center;

  gap: 0.5rem;
}

.title-wrapper h2 {
  margin: 0;
  font-weight: 700;
  color: white;
  text-transform: capitalize;
  font-size: 1.2rem !important;
}

.date {
  font-size: 0.9rem;
  color: #8c8c94;
}

.right {
  display: flex;
  gap: 0.5rem;
  margin-right: 1.5rem;
}

/* SUB BAR */
.panel-subbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.6rem;
  flex-wrap: wrap-reverse;
  gap: 1rem;
}

.sub-left,
.sub-right {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  flex-direction: row;
}

@media (max-width: 564px) {
  .panel-subbar {
    gap: 1.5rem;
  }
}
@media (max-width: 477px) {
  .title-wrapper h2 {
    max-width: 250px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding-right: 4rem;
    font-size: 1.1rem;
  }
}
@media (max-width: 383px) {
  .title-wrapper h2 {
    font-weight: 590;
    font-size: 1.2rem;
    max-width: 200px;
  }
}
.workspace-owner {
  margin: 4px 0 0;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.75);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 220px;
}
@media (max-width: 600px) {
  .date {
    display: none;
  }
  .title-wrapper h2 {
    font-size: 1.2rem !important;
    font-weight: 600 !important;
  }
}
@media (max-width: 619px) {
  .panel-container {
    gap: 0rem;
  }
}
