button.login {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.6rem 1rem;
  background: unset;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: rgba(2, 2, 2, 0.397);
  border: 0.5px #892be26e solid;
  width: 100%;
}

button label {
  cursor: pointer;
}
button.login:hover {
  background: rgba(62, 53, 78, 0.596);
  transform: translateY(-2px);
}

button.register {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.6rem 1rem;
  background: linear-gradient(90deg, #7b42f6, #e76d6d);
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  width: 100%;
}

button.register:hover {
  background: linear-gradient(90deg, #8a56ff, #ff7b7b);
  box-shadow: 0 4px 20px rgba(139, 66, 246, 0.4), 0 0 10px rgba(231, 109, 109, 0.37);
  transform: translateY(-2px);
}

button.home-free-trial {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.8rem 1rem;
  background: linear-gradient(90deg, #7b42f6, #f16e6e);
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
button.home-free-trial:hover {
  background: linear-gradient(90deg, #8a56ff, #ff7b7b);
  box-shadow: 0 4px 20px rgba(139, 66, 246, 0.4), 0 0 10px rgba(231, 109, 109, 0.4);
}
button.home-explore-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.81rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: inherit;
  border: 2px #261b40 solid;
}
button.home-explore-button:hover {
  background: rgba(128, 0, 128, 0.055);
  border: 2px #4f3688 solid;
}
.material-icons {
  font-size: 1rem;
  vertical-align: middle;
  transition: transform 0.3s ease, margin-left 0.3s ease;
}

button:hover .material-icons {
  transform: translateX(4px);
}

button.home-page-getstarted-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.91rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(90deg, hsl(350 85% 63%) 100%);
  border: none;
}

button.home-button {
  position: relative;
  top: -1rem;
  left: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(90deg, #8956ff38, #ff7b7b50);
  border: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-weight: bold;

  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.45), 0 2px 0 rgba(255, 255, 255, 0.08) inset,
    0 -3px 10px rgba(0, 0, 0, 0.35) inset;
  transform: translateY(0);
}

button.home-button:hover .material-icons {
  transform: translateX(-4px);
}

button.create-new-project-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: background 0.35s ease, transform 0.2s ease, box-shadow 0.2s ease,
    border-color 0.2s ease, max-width 0.35s ease, opacity 0.35s ease;
  background: #0c0c12;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-weight: bold;
  border: 1px #2a2a3b solid;
  box-shadow: 0 2px 6px rgba(83, 83, 83, 0.35);
}
button.create-new-project-button:hover .material-icons {
  transform: unset;
}
button.create-new-project-button:hover {
  background: linear-gradient(90deg, #8956ff70, #ff7b7b2f);
  transform: translateY(-1px);
  box-shadow: 0 8px 18px rgba(0, 0, 0, 0.35);
  border-color: #8956ff9a;
}

button.create-new-project-button .material-icons {
  font-size: 1.3rem;
}

button.list-card-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: max-width 0.35s ease, opacity 0.35s ease;
  border: 1px rgba(92, 92, 92, 0.308) solid;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: initial;
  color: #e9e9e9;
  cursor: pointer;

  gap: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0px 20px rgba(123, 66, 246, 0.178), 0 0 12px rgba(95, 127, 255, 0.123),
    0 6px 10px rgba(0, 0, 0, 0.301);
}
button.list-card-button:hover .material-icons {
  transform: unset;
}
button.list-card-button:hover {
  background: linear-gradient(90deg, #8956ff28, #ff7b7b02);
}

@media (max-width: 884px) {
  button.create-new-project-button label {
    display: none;
  }
  button.show label {
    display: block;
  }
}
@media (max-width: 600px) {
  button.create-new-project-button {
    padding: 0.5rem;
  }
}
