button.login {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.6rem 1rem;
  background: unset;
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.637);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

button label {
  cursor: pointer;
}
button.login:hover {
  background: rgba(0, 0, 0, 0.034);
  transform: translateY(-2px);
}

button.register {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.6rem 1rem;
  background: linear-gradient(90deg, #7b42f6, #e76d6d);
  border-radius: 0.8rem;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}

button.register:hover {
  background: linear-gradient(90deg, #8a56ff, #ff7b7b);
  box-shadow: 0 4px 20px rgba(139, 66, 246, 0.4), 0 0 10px rgba(231, 109, 109, 0.37);
  transform: translateY(-2px);
}

button.home-free-trial {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.8rem 1rem;
  background: linear-gradient(90deg, #7b42f6, #f16e6e);
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
}
button.home-free-trial:hover {
  background: linear-gradient(90deg, #8a56ff, #ff7b7b);
  box-shadow: 0 4px 20px rgba(139, 66, 246, 0.4), 0 0 10px rgba(231, 109, 109, 0.4);
}
button.home-explore-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.61rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: rgb(26, 26, 26);
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background-color: white;
  border: 2px rgba(128, 0, 128, 0.171) solid;
}
button.home-explore-button:hover {
  background: rgba(128, 0, 128, 0.055);
}
.material-icons {
  font-size: 1rem;
  vertical-align: middle;
  margin-left: 0.3rem;
  transition: transform 0.3s ease, margin-left 0.3s ease;
}

button:hover .material-icons {
  transform: translateX(4px);
}

button.home-page-getstarted-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.91rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(90deg, hsl(350 85% 63%) 100%);
  border: none;
}

button.home-button {
  position: relative;
  top: -1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: transform 0.2s ease, opacity 0.2s ease;
  background: linear-gradient(90deg, #8a56ff, #ff7b7b);
  border: none;
  display: flex;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-weight: bold;
  box-shadow: rgba(100, 100, 111, 0.685) 0px 7px 29px 0px;
}
button.home-button:hover .material-icons {
  transform: translateX(-4px);
}

button.create-project-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.7rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: max-width 0.35s ease, opacity 0.35s ease;
  background: linear-gradient(90deg, #8956ff3d, #ff7b7b02);
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0px 20px rgba(123, 66, 246, 0.35), 0 0 12px rgba(95, 127, 255, 0.25),
    0 6px 10px rgba(0, 0, 0, 0.55);
}
button.create-project-button label {
  max-width: 0;
  opacity: 0;
  overflow: hidden;
  white-space: nowrap;
  transition: max-width 3.2s ease, opacity 5.2s ease;
}

button.create-project-button:hover label {
  max-width: 200px;
  opacity: 1;
  transition: max-width 0.35s ease, opacity 0.35s ease;
}

button.create-project-button .material-icons {
  transition: transform 0.35s ease;
  font-size: 1.3rem;
  color: rgb(229, 230, 231);
}

button.create-project-button:hover .material-icons {
  transform: translateX(-3px);
}

button.create-new-project-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.7rem 0.8rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: max-width 0.35s ease, opacity 0.35s ease;
  background: #202027;
  border: none;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: linear-gradient(90deg, #8956ff3d, #ff7b7b02);
  gap: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0px 20px rgba(123, 66, 246, 0.35), 0 0 12px rgba(95, 127, 255, 0.25),
    0 6px 10px rgba(0, 0, 0, 0.55);
}
button.create-new-project-button:hover .material-icons {
  transform: unset;
}
button.create-new-project-button:hover {
  background: linear-gradient(90deg, #8956ff9d, #ff7b7b4b);
}
button.create-new-project-button .material-icons {
  font-size: 1.3rem;
}

button.list-card-button {
  font-family: Arial, Helvetica, sans-serif;
  border: none;
  padding: 0.7rem 1rem;
  border-radius: 0.8rem;
  font-size: 0.9rem;
  font-weight: bold;
  color: white;
  cursor: pointer;
  transition: max-width 0.35s ease, opacity 0.35s ease;
  border: 1px rgba(92, 92, 92, 0.308) solid;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  background: initial;
  color: #e9e9e9;
  cursor: pointer;

  gap: 0.5rem;
  font-weight: bold;
  box-shadow: 0 0px 20px rgba(123, 66, 246, 0.178), 0 0 12px rgba(95, 127, 255, 0.123),
    0 6px 10px rgba(0, 0, 0, 0.301);
}
button.list-card-button:hover .material-icons {
  transform: unset;
}
button.list-card-button:hover {
  background: linear-gradient(90deg, #8956ff28, #ff7b7b02);
}
