.model-view {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: transparent;
  border: none;
  cursor: pointer;
  color: #374151;
  transition: color 0.2s ease, transform 0.1s ease;
  font-size: 1.2rem;
}

.close-btn:hover {
  color: var(--primary);
  transform: scale(1.1);
}
