<div class="skeleton-card shimmer-parent">

    <div class="skeleton-header">
        <div class="skeleton-avatar shimmer"></div>

        <div class="skeleton-actions">
            <div class="skeleton-icon shimmer"></div>
            <div class="skeleton-icon shimmer"></div>
        </div>
    </div>

    <div class="skeleton-title shimmer"></div>
    <div class="skeleton-line shimmer"></div>
    <div class="skeleton-line shimmer"></div>

    <div class="skeleton-tag shimmer"></div>

    <div class="skeleton-owner">
        <div class="skeleton-line short shimmer"></div>
        <div class="skeleton-line tiny shimmer"></div>
    </div>

    <div class="skeleton-footer">
        <div class="footer-item shimmer"></div>
        <div class="footer-item shimmer"></div>
        <div class="footer-item shimmer"></div>
    </div>

</div>