@if (formType() === 'login' || formType() === "register") {
<app-link-button title="Home" route="/" buttonClass="home-button" icon="arrow_back"></app-link-button>
}

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="reactive-form" [ngClass]="formClass()">
    <h2 class="form-title">
        @if (titleIcon()) {
        <span class="material-icons title-icon">{{ titleIcon() }}</span>
        }
        {{ title() }}
    </h2>

    <p>{{ p() }}</p>

    <div class="reactive-form-extra">
        <ng-content></ng-content>

    </div>
    @for (item of formData(); track item.label) {
    <label for="{{ item.formControlName }}">{{ item.label }}</label>

    @if (item.type === 'textarea') {
    <textarea [formControlName]="item.formControlName" [placeholder]="item.placeholder" [value]="item.value || ''">
      </textarea>
    } @else if (item.type === 'select') {

    @if (!item.allowTyping) {
    <div class="select-wrapper">
        <select [formControlName]="item.formControlName" (change)="onSelectChange($event, item)">
            <option value="" disabled selected>{{ item.placeholder }}</option>
            @for (option of item.options; track option) {
            <option [value]="option">{{ option }}</option>
            }
        </select>
    </div>
    }

    @if (item.allowTyping) {
    <input [formControlName]="item.formControlName" [placeholder]="item.placeholder"
        [attr.list]="'options-' + item.formControlName" />

    <datalist [id]="'options-' + item.formControlName">
        @for (option of item.options; track option) {
        <option [value]="option"></option>
        }
    </datalist>
    }
    }

    @else if (item.type === 'date') {
    <input type="date" [formControlName]="item.formControlName" [value]="item.value || ''" />
    } @else {
    <input [type]="item.type" [formControlName]="item.formControlName" [placeholder]="item.placeholder"
        [value]="item.value || ''" />
    }

    @if (form.get(item.formControlName)?.touched || form.get(item.formControlName)?.dirty) {
    <div class="errors">
        @for (msg of errorMessages(item.formControlName, item.label); track $index) {
        <small>{{ msg }}</small>
        }
    </div>
    }
    }

    <button type="submit">{{ buttonName() }}</button>

    @if (formType() === 'login') {
    <p class="auth-note">
        Don't have an account?
        <a routerLink="/register">Sign up</a>.
    </p>
    } @else if (formType() === 'register') {
    <p class="auth-note">
        Already have an account?
        <a routerLink="/login">Sign in</a>.
    </p>
    }

</form>