<div class="rain-loader" role="status" aria-label="Loading">
    <div class="rain-center">
        <div class="rain-text">{{ title }}</div>

        <p class="rain-note">
            ⚠️ Hosted on a free Render server — if the app has been inactive, it may need to “wake up”.
            The first request can take up to 50 seconds. After that, everything will load much faster.
        </p>


    </div>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
    <span></span><span></span><span></span><span></span><span></span><span></span>
</div>