.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  transition: transform 0.35s ease, opacity 0.35s ease, width 0.35s ease;
  transform-origin: left center;
  font-family: Arial, Helvetica, sans-serif;
}

.navbar__logo a {
  font-size: 1.5rem;
  font-weight: 700;
  color: black;
  text-decoration: none;
}
.navbar__logo img {
  width: 150px;
}
.navbar__links ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
  margin: 0;
  padding: 0;
}
.navbar li {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  list-style: none;
  text-decoration: none;
}
.navbar__links a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.637);
  font-weight: bold;
  transition: color 0.3s ease, border-color 0.3s ease;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1rem;
}
.navbar__links a:hover {
  color: rgb(0, 0, 0);
}

.navbar__links li.active-link a {
  color: #a63df3;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
}
.navbar__links ul li a {
  text-decoration: none;
  position: relative;
  padding-bottom: 6px;
}
.navbar__links ul li.active-link a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  border-radius: 2px;
  background: linear-gradient(90deg, #8a2be2, #ff007f);
}
.navbar__auth {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    gap: 1rem;
  }

  .navbar__links ul {
    flex-direction: column;
    align-items: center;
  }
}

.hidden {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px !important;
  transition: all 0.3s ease-in-out;
  overflow: hidden;
  transform: translateX(0px);
}
.navbar-container {
  position: sticky;
  background-color: #ffffff;
  box-shadow: 0 2px 8px rgba(175, 175, 175, 0.05);
  top: 0;
  z-index: 0;
}

.menu-toggle {
  position: relative;
  z-index: 1000;
  left: 9.8rem;
  border: none;
  top: -1rem;
  background-color: unset;
}
.menu-toggle span {
  font-size: 1.5rem;
}
.menu-toggle.hidden {
  position: unset;
  z-index: 1000;
  margin: 0rem auto;
  padding-bottom: 1rem;
}

.navbar__links i {
  font-size: 1.4rem;
}

.navbar.hidden {
  display: flex;
  align-items: center;
  width: 80px;
}

.navbar.hidden .navbar__links i {
  font-size: 1.8rem;
}
.navbar__profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
  margin-bottom: 1rem;
  height: 3.8vh;
}
.navbar__profile p {
  color: white;
}
.underline {
  display: block;
  width: 100%;
  height: 1px;
  background-color: #252537;
  border-radius: 2px;
  margin-bottom: 01.5rem;
}

.navbar__profile img {
  width: 40px;
}
.display {
  display: none;
}
.dash-content-display {
  width: 100%;
}
.navbar--dashboard .navbar__links ul li.active-link a::after {
  background: unset;
}
.navbar--dashboard .navbar__links ul li a {
  padding-bottom: unset;
  padding: 0.6rem 1.5rem;
  display: flex;
  gap: 0.8rem;
  width: 100%;
  letter-spacing: 0.3px;
}
.menu-arrow {
  font-size: 32px;
  padding: 0.4rem;
  border-radius: 6px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.menu-arrow:hover {
  background-color: #74747417;
}
