<div [ngClass]="navbarClass()">
    <div class="navbar-container">

        <header class="navbar" [class.hidden]="checkMenuOpen">


            @if (!showLogo()) {
            <div class="navbar__logo">
                @if (!checkMenuOpen) {
                <a routerLink="/">
                    <img [src]="logo()" alt="MyApp Logo" />
                </a>
                }

                @if (showMenuIcon()) {
                <mat-icon class="menu-arrow" (click)="toggleMenu()">
                    {{ !checkMenuOpen ? 'keyboard_arrow_left' : 'keyboard_arrow_right' }}
                </mat-icon>


                }

            </div>
            }
            @if (showMenuIcon()) {
            <div class="underline"></div>

            }


            @if (showProfileImage()) {
            <div class="navbar__profile">
                <a routerLink="/dashboard">
                    <img [src]="profileImage()" alt="MyApp Logo" />
                </a>

                @if (showProfileName() && !checkMenuOpen) {
                <p>John..</p>
                }
            </div>
            }
            @if (showMenuIcon()) {
            <div class="underline"></div>
            }

            <nav class="navbar__links">
                <ul>
                    @for (link of navLinks(); track link.path) {
                    <li routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: !navbarClass() }">


                        <a [routerLink]="link.path">
                            @if (link.icon) {
                            <i [class]="link.icon"></i>
                            }
                            @if (!checkMenuOpen) {
                            {{ link.label }}
                            }
                        </a>
                    </li>
                    }
                </ul>
            </nav>

            @if (!showLogin()) {
            <div class="navbar__auth">
                <ng-content></ng-content>
            </div>
            }
        </header>
    </div>

    <div class="dash-content-display">
        <router-outlet></router-outlet>
    </div>
</div>