/* WRAPPER */
.floating-box {
  position: relative;
  width: 210px;
  padding: 0.2rem;

  background: #0c0c12;
  border: 1px solid #2a2a3b;
  border-radius: 8px;

  color: #e5e5e5;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

/* Floating label */
.floating-box label {
  position: absolute;
  top: -8px;
  left: 0px;

  background: #0c0c12;
  padding: 0 2px;

  font-size: 0.75rem;
  font-weight: 500;
  color: #9595a4;
  transition: color 0.2s ease;
}

/* Hover + Focus */
.floating-box:focus-within {
  border-color: #7e3ff233;
  box-shadow: 0 0 8px rgba(126, 63, 242, 0.2);
}

.floating-box:focus-within label {
  border-color: #7e3ff233;
}

/* INPUT FIELD */
.input-box input {
  width: 100%;
  padding: 0.4rem 0.5rem;
  font-size: 14px;
  color: #fff;
  background: transparent;

  border: none;
  outline: none;
}

/* ICON */
.floating-box .icon {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-5px);

  font-size: 18px;
  color: #9a9aa7;
  pointer-events: none;
}

/* SELECT BOX */
.select-box select {
  width: 100%;
  padding: 0.4rem 0.5rem;

  background: transparent;
  color: #fff;
  font-size: 14px;

  border: none;
  outline: none;

  /* disable default arrow */
  appearance: none;
  -webkit-appearance: none;

  /* custom arrow */
  background-image: url("data:image/svg+xml;utf8,<svg fill='%239a9aa7' height='18' width='18' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/></svg>");
  background-repeat: no-repeat;
  background-position: right 5px center;
  background-size: 15px;
}

/* SELECT OPTION COLORS */
select option {
  background: #1a1a22;
  color: #fff;
}
