<div class="floating-box" [class.input-box]="type === 'input'" [class.select-box]="type === 'select'">
    <label>{{ label }}</label>

    <!-- INPUT -->
    <ng-container *ngIf="type === 'input'">
        <span *ngIf="icon" class="material-icons icon">{{ icon }}</span>

        <input [type]="resolvedInputType" [placeholder]="placeholder" [ngModel]="model"
            (ngModelChange)="updateValue($event)" />

        <!-- ✅ show/hide icon only for password -->
        <button *ngIf="inputType === 'password'" type="button" class="toggle-password" (click)="togglePassword()"
            aria-label="Toggle password visibility">
            <span class="material-icons">
                {{ showPassword ? 'visibility_off' : 'visibility' }}
            </span>
        </button>
    </ng-container>

    <!-- SELECT -->
    <ng-container *ngIf="type === 'select'">
        <select [ngModel]="model" (ngModelChange)="updateValue($event)">
            <option *ngFor="let opt of options" [value]="opt">
                {{ opt }}
            </option>
        </select>
    </ng-container>
</div>